# Q1

In [8]:
# 1). Concatenate two lists index-wise
# teams = ["India", "England", "NZ", "Aus"]
# captains = ["Kohli","Root","Williaamson", "Smith"]
# Answer1: [('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]
# Answer2: {'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson','Aus': 'Smith'}

teams = ["India", "England", "NZ", "Aus"]
captains = ["Kohli","Root","Williaamson", "Smith"]

#list
# Answer1: [('India', 'Kohli'), ('England', 'Root'), ('NZ', 'Williaamson'), ('Aus', 'Smith')]
zipped = zip(teams,captains)
new_list = list(zipped)
new_list

[('India', 'Kohli'),
 ('England', 'Root'),
 ('NZ', 'Williaamson'),
 ('Aus', 'Smith')]

In [7]:
#dict
# Answer2: {'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson','Aus': 'Smith'}
zip1 = zip(teams,captains)
new_dict = dict(zip1)
new_dict

{'India': 'Kohli', 'England': 'Root', 'NZ': 'Williaamson', 'Aus': 'Smith'}

# Q2

In [9]:
# 2) Given a list of books, their prices, and the quantities that you purchased, print out the total
# amount spent on each item.
# books= ["textbooks", "exercise books", "story book", "drawing books"]
# prices = [100,60,90,70]
# quantities = [3,2,1,4]
# Answer:
# You bought 3 textbooks for $300
# You bought 2 exercise books for $120
# You bought 1 story book for $90
# You bought 4 drawing books for $280

In [14]:
books= ["textbooks", "exercise books", "story book", "drawing books"]
prices = [100,60,90,70]
quantities = [3,2,1,4]

zipped = zip(books,prices,quantities)

for x,y,z in zipped:
    total=y*z
    print(f"You brought {z} {x} for ${total}")

You brought 3 textbooks for $300
You brought 2 exercise books for $120
You brought 1 story book for $90
You brought 4 drawing books for $280

# Q3

In [15]:
# 3) Given a Python list. Add 10 to each item of the list 1.
# List 1 = [2,4,6,8,10]
# Answer: [12, 14, 16, 18, 20]

In [19]:
List1 = [2,4,6,8,10]

for value in List1:
    print(value+10)

12
14
16
18
20

In [22]:
List1 = [2,4,6,8,10]

x =[i+10 for i in List1]

print(x)

[12, 14, 16, 18, 20]

# Q4

In [23]:
# 4) Given a two Python list. Write a program to iterate both lists simultaneously and display items
# from list1 in original order and items from list2 in reverse order
# list1 = [10, 20, 30, 40]
# list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]
# Answer:
# 10 Grapes
# 20 Oranges
# 30 Mangoes
# 40 Apples

In [25]:
list1 = [10, 20, 30, 40]
list2 = ["Apples", "Mangoes", "Oranges", "Grapes"]

zipped = zip(list1,reversed(list2))

for l1,l2 in zipped:
    print(f"{l1} {l2}")

10 Grapes
20 Oranges
30 Mangoes
40 Apples

# Q5

In [26]:
# 5) Given a nested list extend it with adding sub list ["h", "i", "j"] in a such a way that it will look
# like the following list
# list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
#  sub_list = ["h", "i", "j"]
# Answer1:
# ['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
# Answer2:
# ['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm','n']

In [28]:
#Answer 1

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]


#Join as normal values
list1[2][1][2].extend(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [29]:
#Answer 2

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
sub_list = ["h", "i", "j"]

#Join as a list
list1[2][1][2].append(sub_list)
list1

['a', 'b', ['c', ['d', 'e', ['f', 'g', ['h', 'i', 'j']], 'k'], 'l'], 'm', 'n']

# Q6

In [30]:
# 6) Given a Python list, write a program to remove all occurrences of item 15.
# List1= [10,15,20,15,32,54,15]
# Answer = [10,20,32,54]

In [31]:
List1= [10,15,20,15,32,54,15]

for i in List1:
    if i == 15:
        List1.remove(i)
List1

[10, 20, 32, 54]

# Q7

In [32]:
# 7) Merge following two Python dictionaries into one
# dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
# dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}
# Answer: {'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt':16}

In [40]:
dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

#Update with new value
dict_1.update(dict_2)
dict_1

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

In [41]:
#Use unpack operator

dict_1 = {'John': 15, 'Rick': 10, 'Misa': 12}
dict_2 = {'Bonnie': 18,'Rick': 20,'Matt': 16}

dict_3 = {**dict_1,**dict_2}
dict_3

{'John': 15, 'Rick': 20, 'Misa': 12, 'Bonnie': 18, 'Matt': 16}

# Q8

In [34]:
# 8) Change the key of the first entry from 0 to 4 in the following dictionary
# d = {0: 0, 1: 1, 2: 2, 3: 3}
# Answer = {1: 1, 2: 2, 3: 3, 4: 0}

In [42]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
Answer = {1: 1, 2: 2, 3: 3, 4: 0}

k_old = 0
k_new = 4

# assign the value of old key (k_old) "0" to the new key (k_new) position "4"
d[k_new]=d.pop(k_old)

print(d)

{1: 1, 2: 2, 3: 3, 4: 0}

In [43]:
d = {0: 0, 1: 1, 2: 2, 3: 3}
Answer = {1: 1, 2: 2, 3: 3, 4: 0}

# assign the value of old key "0" to the new key [4] position
d[4]=d.pop(0)
d

{1: 1, 2: 2, 3: 3, 4: 0}

# Q9

In [36]:
# 9) Theses two lists convert it into the dictionary
# country=["USA","France","India"]
# capital= ["Washington D.C.","Paris","New Delhi"]
# Answer= {'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

In [44]:
country=["USA","France","India"]
capital= ["Washington D.C.","Paris","New Delhi"]

zipped = zip (country, capital)

d = dict(zipped)

d

{'USA': 'Washington D.C.', 'France': 'Paris', 'India': 'New Delhi'}

# Q10

In [45]:
# 10) Delete set of keys from Python Dictionary
# My_dict = {"Fruit": "Pear",
#            "Vegetable": "Carrot",
#            "Pet": "Cat",
#            "Book": "Moby dick",
#            "Crystal": "Amethyst"}

# keysToRemove = ["Book", "Crystal"]

# Answer = {'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [48]:
My_dict = {"Fruit": "Pear",
           "Vegetable": "Carrot",
           "Pet": "Cat",
           "Book": "Moby dick",
           "Crystal": "Amethyst"}

keysToRemove = ["Book", "Crystal"]

My_dict.pop("Book")
My_dict.pop("Crystal")

My_dict

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

In [49]:
My_dict = {"Fruit": "Pear",
           "Vegetable": "Carrot",
           "Pet": "Cat",
           "Book": "Moby dick",
           "Crystal": "Amethyst"}

keysToRemove = ["Book", "Crystal"]

for i in keysToRemove:
    My_dict.pop(i)
    
My_dict

{'Fruit': 'Pear', 'Vegetable': 'Carrot', 'Pet': 'Cat'}

# Q11

In [50]:
# 11) Create a new dictionary by extracting the following keys from a given dictionary
# sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
# key_to_extract = {'math', 'chem','sci'}
# Answer= extracted key-value from dictionary: {'math': 100, '
# sci': 100, 'chem': 98}

In [58]:
sub_dict = {'math' : 100, 'chem' : 98, 'sci' : 100,'eng':100}
key_to_extract = {'math', 'chem','sci'}

exreacted_dict = {key : sub_dict[key] for key in sub_dict.keys() & key_to_extract}

print("extracted key-value from dictionary : ", exreacted_dict)

extracted key-value from dictionary :  {'sci': 100, 'chem': 98, 'math': 100}

# Q12

In [52]:
# 12) Given a list iterate it and display numbers which are divisible by 5.
# list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
# answer: [15, 55, 75, 150, 180, 200]

In [54]:
list1 = [12, 15, 32, 42, 55, 75, 122, 132, 150, 180, 200]
list2 = []
for i in list1:
    if i%5==0:
        list2.append(i)
        
list2

[15, 55, 75, 150, 180, 200]

# Q13

In [55]:
# 13) Write a program to display only those numbers from a list that satisfy the following
# conditions
# â€¢ The number must be divisible by five
# â€¢ If the number is greater than 150, then skip it and move to the next number
# â€¢ If the number is greater than 500, then stop the loop
#  numbers = [12, 75, 150, 180, 145, 525, 50]
# answer:
# 75
# 150
# 145

In [61]:
numbers = [12, 75, 150, 180, 145, 525, 50]

for i in numbers:
    if i > 500:
        break
    elif i > 150:
        continue
    elif i%5 == 0: 
        print(i)

75
150
145

# Q14

In [57]:
# 14) Write a Python program to count Uppercase, Lowercase, special character and numeric
# values in a given string.
# Original Substrings = "@W3Resource.Com"
# Answer:
# Upper case characters: 3
# Lower case characters: 9
# Number case: 1
# Special case characters: 2

In [62]:
def count_characters(s):
    upper_count = 0
    lower_count = 0
    number_count = 0
    special_count = 0

    for char in s:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1
        elif char.isdigit():
            number_count += 1
        else:
            special_count += 1

    return upper_count, lower_count, number_count, special_count


input_string = "@W3Resource.Com"
upper, lower, number, special = count_characters(input_string)

print("Original Substring =", input_string)
print("Upper case characters:", upper)
print("Lower case characters:", lower)
print("Number case:", number)
print("Special case characters:", special)

Original Substring = @W3Resource.Com
Upper case characters: 3
Lower case characters: 9
Number case: 1
Special case characters: 2

In [63]:
def count_chars(str):
    upper_ctr, lower_ctr,number_ctr,special_ctr = 0,0,0,0
    
    for i in range(len(str)):
        if str[i]>= 'A' and str[i]<= 'Z':
            upper_ctr += 1
        elif str[i]>= 'a' and str[i]<= 'z':
            lower_ctr += 1
        elif str[i]>= '0' and str[i]<= '9':
            number_ctr += 1
        else:
            special_ctr =+ 1
            
input_string = "@W3Resource.Com"
upper, lower, number, special = count_characters(input_string)

print("Original Substring =", input_string)
print("Upper case characters:", upper)
print("Lower case characters:", lower)
print("Number case:", number)
print("Special case characters:", special)

Original Substring = @W3Resource.Com
Upper case characters: 3
Lower case characters: 9
Number case: 1
Special case characters: 2

# Q15

In [64]:
# 15) Write a program to calculate the sum of series up to n term. For example, if n =5 the series
# will become 2 + 22 + 222 + 2222 + 22222 = 24690
# Answer =2+22+222+2222+22222+
# Sum of above series is: 24690

In [65]:
def calculate_series_sum(n):
    term = 2
    series_sum = 0

    for i in range(1, n + 1):
        series_sum += term
        print(term, end="+")
        term = term * 10 + 2

    return series_sum


n = 5
result = calculate_series_sum(n)

print("\nSum of above series is:", result)

2+22+222+2222+22222+
Sum of above series is: 24690

In [66]:
n = 5
start = 2
sum_seq = 0

for i in range(0,n):
    print(start, end="+")
    sum_seq+=start
    
    #calculate the next term
    start =  start * 10 + 2
    
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690